<div class="card">
    <h2>CAJEROS</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">ENTRADAS AL SISTEMA</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- *********************************** ENTRADAS Y SALIDAS *************************************** -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fechaDesde">Fecha desde: &nbsp;</label>
                                        <input type="date" id="fechaDesde" value="{{fromDate}}" [max]="toDate"
                                            name="fechaDesde" #fechaDesde><br><br>
                                    </div>
                                    <div>
                                        <label for="fechaHasta">Fecha hasta: &nbsp;</label>
                                        <input type="date" id="fechaHasta" value="{{toDate}}" [max]="toDate"
                                            name="fechaHasta" #fechaHasta>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicio>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFin>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <fieldset>
                                    <label>Estado de los usuarios</label>
                                    <div>
                                        <input type="radio" id="activo" class="radio-col-light-blue" name="estado"
                                            [value]="2" (click)="CambiarEstado(2)" checked>
                                        <label for="activo">Activos</label>

                                        <input type="radio" id="inactivo" class="radio-col-light-blue" name="estado"
                                            [value]="1" (click)="CambiarEstado(1)">
                                        <label for="inactivo">Inactivos</label>

                                        <input type="radio" id="todos" class="radio-col-light-blue" name="estado"
                                            [value]="3" (click)="CambiarEstado(3)">
                                        <label for="todos">Todos</label>
                                    </div>
                                </fieldset>
                                <br>
                                <div>
                                    <mat-select multiple class="form-control" name="selectmake"
                                        [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                        <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                            Todas las sucursales
                                        </mat-option>
                                        <mat-option *ngFor="let option of sucursales" [value]="option.COD_SUC"
                                            [disabled]="todasSucursales" (click)="selectAll('sucursalesSeleccionadas')">
                                            {{option.NOM_SUC}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <br>
                                <div>
                                    <mat-select multiple class="form-control" name="selectmake"
                                        [(value)]="selectedItems" placeholder="Cajeros">
                                        <mat-option *ngIf="mostrarCajeros" [value]="-2"
                                            (click)="selectAll('todosCajeros')">
                                            Todos los cajeros
                                        </mat-option>
                                        <mat-option *ngFor="let option of cajerosUsuarios" [value]="option.COD_US"
                                            [disabled]="todosLosCajeros">
                                            {{option.NOM_US}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="BuscarEntradas()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>ENTRADAS AL SISTEMA</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentTurnosFecha" #contentTurnosFecha
                            #tableTurnosFecha>
                            <thead>
                                <tr>
                                    <th class="text-center">Cajero</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Hora</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestTF">
                                <tr id="tr-id-1" class="tr-class-1"
                                    *ngFor="let actividad of entradas_salidas | paginate:configTF">
                                    <td> {{actividad.Usuario}}</td>
                                    <td> {{actividad.fecha_}}</td>
                                    <td> {{actividad.hora_}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestTFPag" id="usuariosTF"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedTF($event)">
                        </pagination-controls>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="GenerarExcelEntradas()">
                        EXCEL
                    </button>
                    <button type="button" class="btn btn-info" (click)="generarPdfEntradasSistema('hola', 1)">
                        PDF
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>