<div class="card">
    <h2>ENCUESTAS</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="LimpiarFormularios()">
                    <a class="nav-link active" id="totalfecha-tab" data-toggle="tab" href="#totalfecha" role="tab"
                        aria-controls="totalfecha" aria-selected="false">LISTA ENCUESTAS</a>
                </li>
                <li class="nav-item" (click)="LimpiarFormularios()">
                    <a class="nav-link" id="resumen-tab" data-toggle="tab" href="#resumen" role="tab"
                        aria-controls="resumen" aria-selected="true">RESUMEN ENCUESTAS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- *********************************** PREGUNTAS Y RESPUESTAS *************************************** -->
                <div class="tab-pane fade show active" id="totalfecha" role="tabpanel" aria-labelledby="totalfecha-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fechaDesde">Fecha desde: &nbsp;</label>
                                        <input type="date" id="fechaDesde" value="{{fromDate}}" [max]="toDate"
                                            name="fechaDesde" #fechaDesde><br><br>
                                    </div>
                                    <div>
                                        <label for="fechaHasta">Fecha hasta: &nbsp;</label>
                                        <input type="date" id="fechaHasta" value="{{toDate}}" [max]="toDate"
                                            name="fechaHasta" #fechaHasta>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioE>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinE>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <fieldset>
                                    <label>Estado de los usuarios</label>
                                    <div>
                                        <input type="radio" id="activo" class="radio-col-light-blue" name="estado"
                                            [value]="2" (click)="CambiarEstado(2)" checked>
                                        <label for="activo">Activos</label>

                                        <input type="radio" id="inactivo" class="radio-col-light-blue" name="estado"
                                            [value]="1" (click)="CambiarEstado(1)">
                                        <label for="inactivo">Inactivos</label>

                                        <input type="radio" id="todos" class="radio-col-light-blue" name="estado"
                                            [value]="3" (click)="CambiarEstado(3)">
                                        <label for="todos">Todos</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.COD_SUC"
                                        [disabled]="todasSucursales" (click)="selectAll('sucursalesSeleccionadas')">
                                        {{option.NOM_SUC}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="usuariosSeleccionados" placeholder="Cajeros">
                                    <mat-option *ngIf="mostrarCajeros" [value]="-2" (click)="selectAll('todosCajeros')">
                                        Todos los cajeros
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosUsuarios" [value]="option.COD_US"
                                        [disabled]="todosLosCajeros" (click)="selectAll('cajerosSeleccionados')">
                                        {{option.NOM_US}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="encuestaSeleccionada" placeholder="Encuestas">
                                    <mat-option *ngIf="mostrarEncuestas" [value]="-2"
                                        (click)="selectAll('todasEncuestas')">
                                        Todas las encuestas
                                    </mat-option>
                                    <mat-option *ngFor="let option of encuestas" [value]="option.COD_EN"
                                        [disabled]="todasEncuestas" (click)="selectAll('encuestasSeleccionadas')">
                                        {{option.NOM_EN}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="BuscarPreguntasRespuestas()">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive" *ngIf="listaPreguntas.length != 0">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="expansion = true" (closed)="expansion = false">
                                <mat-expansion-panel-header style="background: rgb(8, 170, 121); font-size: 14px;">
                                    <mat-panel-title style="color: white;">
                                        <span style="margin-left: 15px;">
                                            DETALLES DE LAS PREGUNTAS
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <br>
                                <table class="table table-striped">
                                    <ng-container *ngFor="let encuesta of listaPreguntas; let i = index">
                                        <!-- CABECERA DE LA ENCUESTA -->
                                        <thead>
                                            <tr
                                                style="background-color: #0077b6; color: white; font-weight: bold; text-align: center; border: 1px solid white; ">
                                                <th style="text-align: center; " colspan="2">ENCUESTA: {{
                                                    encuesta.encuesta.toUpperCase() }}</th>
                                            </tr>

                                            <tr style="background-color: #0077b6; color: white; font-weight: bold;">
                                                <th style="text-align: center;">Código</th>
                                                <th style="text-align: center;">Pregunta</th>
                                            </tr>
                                        </thead>
                                        <!-- PREGUNTAS EN FORMATO VERTICAL -->
                                        <tbody>
                                            <tr *ngFor="let pregunta of encuesta.preguntas">
                                                <td style="text-align: center;">{{ pregunta.identificativo }}</td>
                                                <td style="text-align: left;">{{ pregunta.pregunta }}</td>
                                            </tr>
                                        </tbody>
                                    </ng-container>
                                </table>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                    <br>
                    <h3>RESPUESTAS</h3>
                    <hr>

                    <div class="table-container" id="tableTurnosTotalFechaContainer"
                        *ngIf="preguntas_respuestas.length != 0">
                        <table class="table table-striped" id="tableTurnosTotalFecha">
                            <ng-container *ngFor="let encuesta of preguntas_respuestas">
                                <!-- FILA CON EL TITULO DE LA ENCUESTA -->
                                <thead>
                                    <tr class="encuesta-title">
                                        <th colspan="100%">
                                            Encuesta: {{ encuesta.encuesta }}
                                        </th>
                                    </tr>
                                    <tr class="header-row">
                                        <th class="fixed-col">SUCURSAL</th>
                                        <th class="fixed-col">FECHA</th>
                                        <th class="fixed-col">CAJERO</th>
                                        <ng-container *ngFor="let pregunta of encuesta.aplicadas[0]?.preguntas">
                                            <th>{{ pregunta.identificador }}</th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <!-- RESPUESTAS DE LOS CAJEROS PARA ESTA ENCUESTA -->
                                <tbody>
                                    <ng-container *ngFor="let aplicada of encuesta.aplicadas">
                                        <tr>
                                            <td class="fixed-col">{{ encuesta.sucursal }}</td>
                                            <td class="fixed-col">{{ aplicada.fecha }}</td>
                                            <td class="fixed-col">{{ aplicada.cajero }}</td>
                                            <ng-container *ngFor="let pregunta of aplicada.preguntas">
                                                <td>{{ pregunta.respuesta }}</td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </ng-container>
                        </table>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2" (click)="ExportExcelEncuestas()">EXCEL</button>
                    <button type="button" class="btn btn-info"
                        (click)="generarPdfPreguntasRespuestas('hola', 1)">PDF</button>
                </div>


                <!-- *********************************** LISTA DE ENCUESTAS POR SUCURSAL *************************************** -->
                <div class="tab-pane fade" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateResumen">Fecha desde: &nbsp;</label>
                                        <input type="date" id="fromDateResumen" value="{{fromDate}}" [max]="toDate"
                                            name="fromDateResumen" #fromDateResumen (change)="mostrar_resultado = false"><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateResumen">Fecha hasta: &nbsp;</label>
                                        <input type="date" id="toDateResumen" value="{{toDate}}" [max]="toDate"
                                            name="toDateResumen" #toDateResumen (change)="mostrar_resultado = false">
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioR (change)="mostrar_resultado = false">
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinR (change)="mostrar_resultado = false">
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>

                                <br>
                                <fieldset>
                                    <div>
                                        <input type="radio" id="fecha" class="radio-col-light-blue" name="verfecha"
                                            [value]="'1'" (click)="CambiarFecha('1')" checked>
                                        <label for="fecha">Presentar Fecha</label>

                                        <input type="radio" id="rango" class="radio-col-light-blue" name="verfecha"
                                            [value]="'2'" (click)="CambiarFecha('2')">
                                        <label for="rango">Rango de fechas</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-6">
                                <fieldset>
                                    <label>Estado de los usuarios</label>
                                    <div>
                                        <input type="radio" id="activo2" class="radio-col-light-blue" name="estado2"
                                            [value]="2" (click)="CambiarEstado(2)" checked>
                                        <label for="activo2">Activos</label>

                                        <input type="radio" id="inactivo2" class="radio-col-light-blue" name="estado2"
                                            [value]="1" (click)="CambiarEstado(1)">
                                        <label for="inactivo2">Inactivos</label>

                                        <input type="radio" id="todos2" class="radio-col-light-blue" name="estado2"
                                            [value]="3" (click)="CambiarEstado(3)">
                                        <label for="todos2">Todos</label>
                                    </div>
                                </fieldset>
                                <br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.COD_SUC"
                                        [disabled]="todasSucursales" (click)="selectAll('sucursalesSeleccionadas')">
                                        {{option.NOM_SUC}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="usuariosSeleccionados" placeholder="Cajeros" (selectionChange)="mostrar_resultado = false">
                                    <mat-option [value]="-2" (click)="selectAll('todosLosCajeros')">
                                        Todos los cajeros
                                    </mat-option>
                                    <mat-option *ngFor="let option of cajerosUsuarios" [value]="option.COD_US"
                                        [disabled]="todosLosCajeros">
                                        {{option.NOM_US}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="selectedEncuestas" placeholder="Encuestas" (selectionChange)="mostrar_resultado = false">
                                    <mat-option *ngIf="mostrarEncuestas" [value]="-2"
                                        (click)="selectAll('todasEncuestas')">
                                        Todas las encuestas
                                    </mat-option>
                                    <mat-option *ngFor="let option of encuestas" [value]="option.COD_EN"
                                        [disabled]="todasEncuestas">
                                        {{option.NOM_EN}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="buscarRespuestas()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>RESPUESTAS</h3>
                    <hr>
                    <div class="table-responsive" *ngIf="mostrar_resultado">
                        <table class="table table-striped" id="contentResumen" #contentResumen #tableResumen>
                            <thead>
                                <tr>
                                    <th class="text-center">Sucursal</th>
                                    <th class="text-center">Encuesta</th>
                                    <th class="text-center" *ngIf="usuariosSeleccionados.length>0">Cajero</th>
                                    <th class="text-center" *ngIf="verFecha == '1'">Fecha</th>
                                    <th class="text-center">Encuestas realizadas</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestR">
                                <tr *ngFor="let servicioResumen of servicioResumen | paginate:configR">
                                    <td> {{servicioResumen.nombre_sucursal}}</td>
                                    <td> {{servicioResumen.nombre_encuesta}}</td>
                                    <td *ngIf="usuariosSeleccionados.length>0"> {{servicioResumen.nombre_usuario}}</td>
                                    <td *ngIf="verFecha == '1'"> {{servicioResumen.Fecha}}</td>

                                    <td> {{servicioResumen.encuestas_realizadas}} </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestRPag" id="usuariosR"
                            [previousLabel]="labels.previousLabel" 
                            [currentPage]="configR.currentPage" 
                            [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedR($event)">
                        </pagination-controls>
                        <h4><b>TOTAL DE RESPUESTAS: </b>{{respuestasTotal}}</h4>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2"
                        (click)="ExportTOExcelPreguntasResumen()" *ngIf="mostrar_resultado">EXCEL</button>
                    <button type="button" class="btn btn-info"
                        (click)="generarPdfPreguntasResumen('hola', 1, 2)" *ngIf="mostrar_resultado">PDF</button>
                </div>

            </div>
        </form>
    </div>
</div>