<div class="card">
    <h2>ENCUESTAS</h2>
    <div class="card-body">
        <form>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link active" id="resumen-tab" data-toggle="tab" href="#resumen" role="tab"
                        aria-controls="resumen" aria-selected="true">RESUMEN ENCUESTAS</a>
                </li>
                <li class="nav-item" (click)="limpiar()">
                    <a class="nav-link " id="totalfecha-tab" data-toggle="tab" href="#totalfecha" role="tab"
                        aria-controls="totalfecha" aria-selected="false">LISTA ENCUESTAS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- *********************************** PREGUNTAS Y RESPUESTAS *************************************** -->
                <div class="tab-pane fade" id="totalfecha" role="tabpanel" aria-labelledby="totalfecha-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateTurnosTotalFecha">Fecha desde: &nbsp;</label>
                                        <input type="date" id="fromDateTurnosTotalFecha" value="{{fromDate}}"
                                            [max]="toDate" name="fromDateTurnosTotalFecha"
                                            #fromDateTurnosTotalFecha><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateTurnosTotalFecha">Fecha hasta: &nbsp;</label>
                                        <input type="date" id="toDateTurnosTotalFecha" value="{{toDate}}" [max]="toDate"
                                            name="toDateTurnosTotalFecha" #toDateTurnosTotalFecha>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioTTF>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinTTF>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="encuestaSeleccionada" placeholder="Encuestas">
                                    <mat-option *ngIf="mostrarEncuestaTotal" [value]="-2"
                                        (click)="selectAll('todasEncuestas')">
                                        Todas las encuestas
                                    </mat-option>
                                    <mat-option *ngFor="let option of encuestasTotales" [value]="option.COD_EN"
                                        [disabled]="todasEncuestas">
                                        {{option.NOM_EN}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.COD_SUC"
                                        [disabled]="todasSucursalesTTF">
                                        {{option.NOM_SUC}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="buscarPreguntasRespuestas()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>RESPUESTAS</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentTurnosTotalFecha" #contentTurnosTotalFecha
                            #tableTurnosTotalFecha>
                            <thead>
                            </thead>
                            <tbody *ngIf="!malRequestTTF">
                                <ng-container *ngFor="let dato of preguntas_respuestas | paginate:configTTF">
                                    <!-- Fila para CODIGO_RESPUESTA y NOM_US -->
                                    <tr style="background-color:#0077b6; color:black;">
                                        <td [attr.colspan]="3" style="text-align: left;"> <strong>SUCURSAL:</strong> {{
                                            dato.sucursal }}</td>
                                        <td [attr.colspan]="3" style="text-align: left;"> <strong>CAJERO:</strong> {{
                                            dato.NOM_US }}</td>
                                    </tr>

                                    <!-- Fila para ENCUESTA -->
                                    <tr style="background-color:#0077b6; color:black;">
                                        <td [attr.colspan]="3" style="text-align: left;"><strong>ENCUESTA:</strong> {{
                                            dato.encuesta }}
                                        </td>
                                        <td [attr.colspan]="3" style="text-align: left;"><strong>N° PREGUNTAS:</strong>
                                            {{ dato.informacion.length }}
                                        </td>
                                    </tr>

                                    <!-- Fila para cabecera de preguntas y respuestas -->
                                    <tr style="background-color:#0096c7; color:black; font-weight: 500px;">
                                        <td>N°</td>
                                        <td>TÍTULO</td>
                                        <td>PREGUNTAS</td>
                                        <td>RESPUESTAS</td>
                                        <td>FECHA</td>
                                        <td>HORA</td>
                                    </tr>

                                    <!-- Filas para PREGUNTA y RESPUESTA -->
                                    <tr *ngFor="let info of dato.informacion, let i = index">
                                        <td style="font-weight: bold;">{{ i + 1 }}</td>
                                        <td>{{ info.titulo }}</td>
                                        <td style="text-align: left;">{{ info.pregunta }}</td>
                                        <td>{{ info.respuesta }}</td>
                                        <td>{{ info.fecha }}</td>
                                        <td>{{ info.hora }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestTTFPag" id="usuariosTTF"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedTTF($event)">
                        </pagination-controls>
                        <h4><b>TOTAL DE RESPUESTAS: </b>{{respuestasTotalC}}</h4>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2"
                        (click)="ExportTOExcelPreguntasRespuestas()">EXCEL</button>
                    <button type="button" class="btn btn-info"
                        (click)="generarPdfPreguntasRespuestas('hola', 1)">PDF</button>
                </div>

                <!-- *********************************** LISTA DE ENCUESTAS POR SUCURSAL *************************************** -->
                <div class="tab-pane fade show active" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="contenedor-fechas mt-2 mb-2">
                                    <div>
                                        <label for="fromDateResumen">Fecha desde: &nbsp;</label>
                                        <input type="date" id="fromDateResumen" value="{{fromDate}}" [max]="toDate"
                                            name="fromDateResumen" #fromDateResumen><br><br>
                                    </div>
                                    <div>
                                        <label for="toDateResumen">Fecha hasta: &nbsp;</label>
                                        <input type="date" id="toDateResumen" value="{{toDate}}" [max]="toDate"
                                            name="toDateResumen" #toDateResumen>
                                    </div>
                                </div>
                                <div class="contenedor-horas">
                                    <select class="form-control" name="selectmake" #horaInicioR>
                                        <option value="-1" selected>Hora Inicio</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                    <select class="form-control ml-2" name="selectmake" #horaFinR>
                                        <option value="-1" selected>Hora Fin</option>
                                        <option *ngFor="let hora of horas" value="{{hora}}" [value]="hora">{{hora}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(value)]="selectedEncuestas" placeholder="Encuestas">
                                    <mat-option *ngIf="mostrarEncuestaTotal" [value]="-2"
                                        (click)="selectAll('todasEncuestas')">
                                        Todas las encuestas
                                    </mat-option>
                                    <mat-option *ngFor="let option of encuestasTotales" [value]="option.COD_EN"
                                        [disabled]="todasEncuestas">
                                        {{option.NOM_EN}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <mat-select multiple class="form-control" name="selectmake"
                                    [(ngModel)]="sucursalesSeleccionadas" placeholder="Sucursales">
                                    <mat-option [value]="-1" (click)="selectAll('todasSucursales')">
                                        Todas las sucursales
                                    </mat-option>
                                    <mat-option *ngFor="let option of sucursales" [value]="option.COD_SUC"
                                        [disabled]="todasSucursalesTTF">
                                        {{option.NOM_SUC}}
                                    </mat-option>
                                </mat-select>
                                <br><br>
                                <button type="button" class="btn btn-search" (click)="buscarRespuestas()">
                                    <span class="glyphicon glyphicon-filter"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>RESPUESTAS</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped" id="contentResumen" #contentResumen #tableResumen>
                            <thead>
                                <tr>
                                    <th class="text-center">Sucursal</th>
                                    <th class="text-center">Encuesta</th>
                                    <th class="text-center">Encuestas realizadas</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!malRequestR">
                                <tr *ngFor="let servicioResumen of servicioResumen | paginate:configR">
                                    <td> {{servicioResumen.NOM_SUC}}</td>
                                    <td> {{servicioResumen.NOM_EN}}</td>
                                    <td> {{servicioResumen.total_encuestas}} </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls *ngIf="!malRequestRPag" id="usuariosR"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                            (pageChange)="pageChangedR($event)">
                        </pagination-controls>
                        <h4><b>TOTAL DE RESPUESTAS: </b>{{respuestasTotal}}</h4>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info mx-2"
                        (click)="ExportTOExcelPreguntasResumen(2)">EXCEL</button>
                    <button type="button" class="btn btn-info"
                        (click)="generarPdfPreguntasResumen('hola', 1, 2)">PDF</button>

                    <!-- GRAFICO -->
                    <br> <br>
                    <div id="canvasResumenEncuesta">
                        <h3>GRÁFICO RESUMEN ENCUESTA</h3>
                        <canvas id="canvaResumenEncuestas">{{chart}}</canvas>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>