<div id="menu-lateral">
    <aside class="left-sidebar ">
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="user-profile">
                        <a><img src="./assets/images/users/user.jpg" alt="user" />
                            <span class="hide-menu">{{userDisplayName}}</span></a>
                    </li>
                    <li class="nav-small-cap">REPORTES </li>
                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="/usuarios"><i
                                class="mdi mdi-account"></i>
                            Cajeros
                        </a>

                    </li>
                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="encuestas"><i
                                class="mdi mdi-seal"></i>
                            Encuestas
                        </a>

                    </li>
                    <li> <a class=" waves-effect waves-dark dropdown-item" routerLink="preguntas"><i
                                class="mdi mdi-bullseye"></i>
                            Preguntas
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</div>