.pregunta-card {
  background-color: #0394b1;
  padding: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px; /* Ajusta el tamaño de la tarjeta */
}

.pregunta-texto {
  font-size: 14px;
  color: #f4f2f2;
}

.titulo {
  font-size: 16px;
  font-weight: bold;
  color: #faf6f6;
}
